body {
   font-family: Calibri;
}
img{
    width: 100%;
}

table, th, td {
            border: 1px solid black;
            border-collapse: collapse; 
}

ul.team{
        list-style-type: none;
        
}  

ul.sections {

            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
            width: 100%;
}
        
li.sect {
        float: left;
}
        
a.active{
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
}

